@model IEnumerable<TradeAndSell.Models.Item>

@{
    ViewData["Title"] = "Shopping Cart";
}

<div class="row">
    <div class="col-4">
        <h1>Shopping Cart</h1>
    </div>
    <div class="col-8">
        <div class="float-right">
            <a style="font-size:24px; vertical-align:middle;" href="/Identity/Account/Manage/MyWishList">My Wish List</a>
            <input class="btn btn-primary btn-lg" value="Checkout All" />
        </div>
    </div>
</div>

@foreach (var item in Model)
{
    <div class="card mb-3" style="max-width: 1400px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <a asp-controller="Items" asp-action="Details" asp-route-id="@item.Id">
                    @if (item.ImagePath != null)
                    {
                        <img src="~/images/@item.ImagePath" class="card-img" alt="Item Image">
                    }
                    else
                    {
                        <img src="~/images/no-image-avaiable.jpg" class="card-img" alt="No Image">
                    }
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a asp-controller="Items" asp-action="Details" asp-route-id="@item.Id">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                    </a>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Condition)</p>
                    <p class="card-text">Price: CA$ @Html.DisplayFor(modelItem => item.Price)</p>
                    @if (item.AllowTrade == "true")
                    {
                        <p class="card-text">Trade Range: CA$ @Html.DisplayFor(modelItem => item.MinTradePirce) ~ CA$ @Html.DisplayFor(modelItem => item.MaxTradePrice)</p>
                    }
                    else
                    {
                        <p class="card-text">Trade Not Allowed</p>
                    }
                    <p>At @Html.DisplayFor(modelItem => item.City)</p>
                    <a class="btn btn-outline-info" asp-controller="Carts" asp-action="MoveToWishList" asp-route-id="@item.Id">Move to wish list</a>
                    <a class="btn btn-outline-danger" asp-controller="Carts" asp-action="DeleteFromCart" asp-route-id="@item.Id">Delete</a>
                    <a class="btn btn-outline-primary">Buy</a>
                    <a class="btn btn-outline-success">Trade</a>
                </div>
            </div>
        </div>
    </div>
}
@if (Model.Count() == 0)
{
    <h3 style="font-weight:normal">Your Shopping Cart is Empty.</h3>
}
