@model TradeAndSell.Models.Message

@{
    ViewData["Title"] = "Chat";
    string TargetUser = ViewData["TargetUser"] as string;
    string CurrentChatId = ViewData["CurrentChatId"] as string;
    Message ChatInfo = ViewData["ChatInfo"] as Message;
    IEnumerable<MessageDetails> MessageDetails = ViewData["MessageDetails"] as IEnumerable<MessageDetails>;
}

<h1><a asp-controller="Account" asp-action="Details" asp-route-id="@ChatInfo.ReceiverId">@TargetUser</a></h1>
<hr />
<div>
    <div class="row">
        @foreach (var message in MessageDetails)
        {
            if (message.Content != null)
            {
                <div class="col-12">
                    <h4>@message.SenderName (@message.Datetime)</h4>
                    <h5>@message.Content</h5>
                    <hr />
                </div>
            }
        }
        <div class="col-12">
            <div class="form-group">
                <h2>Reply to @TargetUser</h2>
                <form asp-controller="Messages" asp-action="SendChat">
                    @*<input type="hidden" asp-for="Id" />*@
                    <input type="hidden" asp-for="ChatId" value="@CurrentChatId" />
                    <input type="hidden" asp-for="SenderId" value="@ChatInfo.SenderId" />
                    <input type="hidden" asp-for="ReceiverId" value="@ChatInfo.ReceiverId" />
                    <textarea asp-for="Content" class="form-control" id="message"></textarea>
                    <br />
                    <input type="submit" class="btn btn-primary" value="Send" />
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <a href="/Identity/Account/Manage/MyMessages">Back to Message List</a>
</div>
