@page
@model MyPostsModel
@{
    ViewData["Title"] = "My Posts";
    ViewData["ActivePage"] = ManageNavPages.MyPosts;
}

<h4>@ViewData["Title"]</h4>
<a class="btn btn-outline-primary" asp-area="" asp-controller="Items" asp-action="Create">Create a new post</a>
<br />
<br />
<h4>@ViewData["Title"] History</h4>
@foreach (var item in Model.ItemList)
{
    <div class="card mb-3" style="max-width: 1400px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <a asp-controller="Items" asp-action="Details" asp-route-id="@item.Id">
                    @if (item.ImagePath != null)
                    {
                        <img src="~/images/@item.ImagePath" class="card-img" alt="Item Image" style="max-height:250px; object-fit:contain; margin:auto;">
                    }
                    else
                    {
                        <img src="~/images/no-image-avaiable.jpg" class="card-img" alt="No Image" style="max-height:250px; object-fit:contain">
                    }
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a asp-controller="Items" asp-action="Details" asp-route-id="@item.Id">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                    </a>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Condition)</p>
                    <p class="card-text">Price: CA$ @Html.DisplayFor(modelItem => item.Price)</p>
                    @if (item.AllowTrade == "true")
                    {
                        <p class="card-text">Trade Range: CA$ @Html.DisplayFor(modelItem => item.MinTradePrice) ~ CA$ @Html.DisplayFor(modelItem => item.MaxTradePrice)</p>
                    }
                    else
                    {
                        <p class="card-text">Trade Not Allowed</p>
                    }
                    <p>At @Html.DisplayFor(modelItem => item.City)</p>
                    <a class="btn btn-outline-success" asp-controller="Items" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-outline-info" asp-controller="Items" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-outline-danger" asp-controller="Items" asp-action="DeleteFromPosts" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete the post?')">Delete</a>
                </div>
            </div>
        </div>
    </div>
}
@if (Model.ItemList.Count == 0)
{
    <p>No Items to display.</p>   
}