@page
@model MyTradeRequestsModel
@{
    ViewData["Title"] = "Trade Requests";
    ViewData["ActivePage"] = ManageNavPages.MyTradeRequests;
}

<h4>@ViewData["Title"]</h4>
@foreach (var item in Model.TradeDetails)
{
    <div class="card mb-3" style="max-width: 1400px;">
        <div class="row no-gutters">

            @if (item.MyRequest)
            {
                <div class="col-md-4">
                    <a asp-controller="Trades" asp-action="RequestDetails" asp-route-id="@item.TradeId">
                        @if (item.ItemImagePath != null)
                        {
                            <img src="~/images/@item.ItemImagePath" class="card-img" alt="Item Image" style="max-height:250px; object-fit:contain; margin:auto;">
                        }
                        else
                        {
                            <img src="~/images/no-image-avaiable.jpg" class="card-img" alt="No Image" style="max-height:250px; object-fit:contain">
                        }
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        @* TODO: Link to user details *@
                        <h5 class="card-title">Request to @Html.DisplayFor(modelItem => item.SellerName)</h5>
                        <a asp-controller="Items" asp-action="Details" asp-route-id="@item.ItemId">
                            <h5 class="card-title">Request Item: @Html.DisplayFor(modelItem => item.ItemName)</h5>
                        </a>
                        <h5 class="card-title">Your Offer: @Html.DisplayFor(modelItem => item.TradeItemIds) ETC...</h5>
                        <h5 class="card-title">Status: @Html.DisplayFor(modelItem => item.Status)</h5>
                        <a asp-controller="Trades" asp-action="RequestDetails" asp-route-id="@item.TradeId">Details</a>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-4">
                    <a asp-controller="Trades" asp-action="OfferDetails" asp-route-id="@item.TradeId">
                        @if (item.ItemImagePath != null)
                        {
                            <img src="~/images/@item.ItemImagePath" class="card-img" alt="Item Image" style="max-height:250px; object-fit:contain; margin:auto;">
                        }
                        else
                        {
                            <img src="~/images/no-image-avaiable.jpg" class="card-img" alt="No Image" style="max-height:250px; object-fit:contain">
                        }
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        @* TODO: Link to user details *@
                        <h5 class="card-title">Offer from @Html.DisplayFor(modelItem => item.BuyerName)</h5>
                        <a asp-controller="Items" asp-action="Details" asp-route-id="@item.ItemId">
                            <h5 class="card-title">Your Item: @Html.DisplayFor(modelItem => item.ItemName)</h5>
                        </a>
                        <h5 class="card-title">Offer: @Html.DisplayFor(modelItem => item.TradeItemIds) ETC...</h5>
                        <h5 class="card-title">Status: @Html.DisplayFor(modelItem => item.Status)</h5>
                        <a asp-controller="Trades" asp-action="OfferDetails" asp-route-id="@item.TradeId">Details</a>
                    </div>
                </div>
            }

        </div>
    </div>
}
@if (Model.TradeDetails.Count == 0)
{
    <p>No Items to display.</p>
}