@model IEnumerable<TradeAndSell.Models.Item>

@{
    ViewData["Title"] = "All Items";
}

<h1>All Items</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<div class="row mb-3">
    <div class="col-3 dropdown">
        <button class="btn btn-outline-primary dropdown-toggle w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categary: @(ViewData["CatergaryFilter"] != null ? @ViewData["CatergaryFilter"] : "All")
        </button>
        <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
            <a asp-action="Index" asp-route-catergaryFilter="All" asp-route-cityFilter="@ViewData["CityFilter"]" asp-route-sortBy="@ViewData["SortBy"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="dropdown-item">All</a>
            <a asp-action="Index" asp-route-catergaryFilter="Books" asp-route-cityFilter="@ViewData["CityFilter"]" asp-route-sortBy="@ViewData["SortBy"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="dropdown-item">Books</a>
            <a asp-action="Index" asp-route-catergaryFilter="Furniture" asp-route-cityFilter="@ViewData["CityFilter"]" asp-route-sortBy="@ViewData["SortBy"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="dropdown-item">Furniture</a>
            <a asp-action="Index" asp-route-catergaryFilter="Electronics" asp-route-cityFilter="@ViewData["CityFilter"]" asp-route-sortBy="@ViewData["SortBy"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="dropdown-item">Electronics</a>
        </div>
    </div>
    <div class="col-3 dropdown">
        <button class="btn btn-outline-primary dropdown-toggle w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            City: @(ViewData["CityFilter"] != null ? @ViewData["CityFilter"] : "All")
        </button>
        <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
            <a asp-action="Index" asp-route-catergaryFilter="@ViewData["CatergaryFilter"]" asp-route-cityFilter="All" asp-route-sortBy="@ViewData["SortBy"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="dropdown-item">All</a>
            <a asp-action="Index" asp-route-catergaryFilter="@ViewData["CatergaryFilter"]" asp-route-cityFilter="Toronto" asp-route-sortBy="@ViewData["SortBy"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="dropdown-item">Toronto</a>
            <a asp-action="Index" asp-route-catergaryFilter="@ViewData["CatergaryFilter"]" asp-route-cityFilter="Mississauga" asp-route-sortBy="@ViewData["SortBy"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="dropdown-item">Mississauga</a>
            <a asp-action="Index" asp-route-catergaryFilter="@ViewData["CatergaryFilter"]" asp-route-cityFilter="Hamilton" asp-route-sortBy="@ViewData["SortBy"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="dropdown-item">Hamilton</a>
            <a asp-action="Index" asp-route-catergaryFilter="@ViewData["CatergaryFilter"]" asp-route-cityFilter="Burlington" asp-route-sortBy="@ViewData["SortBy"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="dropdown-item">Burlington</a>
        </div>
    </div>
    <div class="col-3 dropdown">
        <button class="btn btn-outline-primary dropdown-toggle w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort By @(ViewData["SortBy"] != null ? @ViewData["SortBy"] : "Default")
        </button>
        <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
            <a asp-action="Index" asp-route-catergaryFilter="@ViewData["CatergaryFilter"]" asp-route-cityFilter="@ViewData["CityFilter"]" asp-route-sortBy="Default" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="dropdown-item">Default</a>
            <a asp-action="Index" asp-route-catergaryFilter="@ViewData["CatergaryFilter"]" asp-route-cityFilter="@ViewData["CityFilter"]" asp-route-sortBy="Price: Low to High" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="dropdown-item">Price: Low to High</a>
            <a asp-action="Index" asp-route-catergaryFilter="@ViewData["CatergaryFilter"]" asp-route-cityFilter="@ViewData["CityFilter"]" asp-route-sortBy="Price: High to Low" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="dropdown-item">Price: High to Low</a>
            <a asp-action="Index" asp-route-catergaryFilter="@ViewData["CatergaryFilter"]" asp-route-cityFilter="@ViewData["CityFilter"]" asp-route-sortBy="Newest Arrivals" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="dropdown-item">Newest Arrivals</a>
        </div>
    </div>
    <div class="col-3">
        <form asp-action="Index">
            <div class="input-group">
                <input type="text" class="form-control" name="search" value="@ViewData["CurrentFilter"]" placeholder="" aria-label="Search Item">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-primary" id="searchUserButton" >Search</button>
                </div>
            </div>
        </form>
    </div>

</div>

@foreach (var item in Model) {
    <div class="card mb-3" style="max-width: 1400px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <a asp-action="Details" asp-route-id="@item.Id">
                    @if (item.ImagePath != null)
                    {
                        <img src="~/images/@item.ImagePath" class="card-img" alt="Item Image" style="max-height:300px; object-fit:contain">
                    }
                    else
                    {
                        <img src="~/images/no-image-avaiable.jpg" class="card-img" alt="No Image" style="max-height:300px; object-fit:contain">
                    }
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                    </a>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Condition)</p>
                    <p class="card-text">Price: CA$ @Html.DisplayFor(modelItem => item.Price)</p>
                    @if (item.AllowTrade == "true")
                    {
                        <p class="card-text">Trade Range: CA$ @Html.DisplayFor(modelItem => item.MinTradePrice) ~ CA$ @Html.DisplayFor(modelItem => item.MaxTradePrice)</p>
                    }
                    else
                    {
                        <p class="card-text">Trade Not Allowed</p>
                    }
                    <p>At @Html.DisplayFor(modelItem => item.City)</p>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <div>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
